{# {% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Inscription</h1>
		<div class="container form-group">
			{{form(form)}}
			</div>

		</div>

	{% endblock %} #}
