{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!
{% endblock %}

{% block body %}
	<div class="container mt-4">
		{% for article in articles %}
			<a href="">
				<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
					<div class="card-header">Mon Titre</div>
					<div class="card-body">
						<h4 class="card-title">Description</h4>
						{# <p class="card-text">{{article.name()}}</p> #}
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex nemo eaque dolore corrupti deserunt, cupiditate optio placeat eveniet inventore saepe nostrum sunt quam natus unde sequi libero? Repellat, beatae suscipit.</p>
					</div>
				</div>
			</div>
		</a>
	{% endfor %}
{% endblock %}
